<h3 class="card-title">Signup - Details</h3>
<form>
    <div class="form-group">
        <label>Username</label>
        <label type="text"  name="username" class="form-control" ></label>

    </div>
    <div class="form-group">
        <label>Email</label>
        <label type="text"  name="email" class="form-control"></label>

    </div>


    <div class="form-group">
        <label>Phone Number</label>
        <label type="text"  name="phonenumber" class="form-control"></label>

    </div>
    <div class="form-group">
        <label>Countries</label>
        <label type="text"  name="country" class="form-control"></label>

    </div>
    <div class="form-group">
        <label>States</label>
        <label type="text"  name="state" class="form-control"></label>
    </div>

    <div class="form-group">
        <input type="button" class="btn btn-default btn-block" value="Back" >
    </div>
</form>